
.amazing-work-nav {
  display: flex;
  justify-content: center;
  /*background-color: #F8FCFE;*/
  margin-bottom: 70px;
}

.amazing-kat {
  padding: 6px;
  /*flex-grow: 1;*/
  text-align: center;
  border: 2px solid #DADADA;
}

.amazing-kat > a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  color: #717171;

}


.amazing-kat > a:first-child {
  padding: 16px 28px;
}

.amazing-kat.active {
  border: 2px solid #18CFAB;
}

.amazing-kat.active > a {
  color: #18CFAB;
}


.amazing-work {
  background: #E9EDEF;
}


.amazing-content-item > img {
  width: 100%;
  height: 100%;
}

.amazing-work-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 70px;
}

.hide {
  display: none;
}


.button-load-more {
  margin: 0 auto 70px;
  display: flex;
  align-items: center;

}


.button-load-more > span {
  font-size: 25px;
  font-weight: 700;
  margin-right: 10px;
  padding: 0;
}

.amazing-work-load-more {
  display: flex;
  justify-content: center;

}


.amazing-content-item {
  position: relative;
  /*display: none;*/
}

.amazing-content-item.invisible {
  display: none;
}


.amazing-content-item:hover .amazing-content-hover {
  opacity: 1;
  cursor: pointer;
}

.amazing-content-hover {
  border-top: 4px solid #18CFAB;
  opacity: 0;
  position: absolute;
  background: #E9EDEF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
}


.amazing-content-hover > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18CFAB;
  margin-top: 30px;
}

.amazing-content-hover > span {
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  color: #8A8A8A;
}


.link_icon, .stop_icon {
  color: #1FDAB5;
  border: 1px solid #18CFAB;
  border-radius: 30px;
  padding: 15px;
  margin-right: 3px;
}

.link_icon:hover, .stop_icon:hover {
  color: #fff;
  border-radius: 30px;
  padding: 15px;
  background-color: #1FDAB5;
}