.breaking-news-gallery {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr;
  justify-items: stretch;
  padding-bottom: 85px;
  gap: 35px;
}


.gallery-items {
  /*width: 263px;*/
  position: relative;
}

.news-gallery-linc > .news-img {
  width: 100%;
}


.news-title, .news-text {
  padding: 10px 25px;
  text-align: left;
}

.news-title {
  font-weight: 700;
  font-size: 18px;
  color: #717171;
}

.news-text {
  font-weight: 300;
  font-size: 14px;
  color: #777777;
  padding-top: 2px;
  text-decoration: none;
  /*margin-bottom: 40px;*/
}

.lable-data {
  background: #203E38;
  text-align: center;
  width: 70px;
  height: 70px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  right: 0;
}

.lable-data-dey {
  margin: 12px auto;
}

.news-gallery-linc {
  display: block;
  text-decoration: none;
}

.news-gallery-linc:hover .lable-data {
  background: #18CFAB;
}

.news-gallery-linc:hover .news-title {
  color: #18CFAB;
}


