.reviews {
  padding: 20px 0 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('../images/Sections background/section-3.jpg');
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.reviews__slider {
  position: relative;
}

.reviews__slider::before {
  content: url('../images/people/reviews-img.png');
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews__header {
  color: #ffffff;
}

.reviews__slider ul {
  overflow: hidden;
  display: flex;
  width: 1100px;
}

.reviews__item {
  flex-basis: 100%;
  flex-shrink: 0;
  text-align: center;
  padding: 40px 0;
}

.reviews__item-img {
  object-fit: cover;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
  border: 3px solid #18cfab;
}

.reviews__item-text {
  color: #bbbbbb;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 45px;
}

.reviews__item-name {
  color: #18cfab;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.reviews__item-sign {
  color: #bbbbbb;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 35px;
}

.reviews__slider-menu {
  display: flex;
  justify-content: center;
}

.reviews__mini-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 120px;
  padding: 0 35px;
  box-sizing: border-box;
  text-align: center;
}

.reviews__slider-arrow {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 1px solid #bbbbbb;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #bbbbbb;
  align-self: center;
}

.reviews__slider-menu > a {
  text-decoration: none;
}

.reviews__slider-arrow:hover {
  background-color: #18cfab;
  border-color: #18cfab;
}

.reviews__item-img.small {
  display: none;
}

.reviews__item-img.active {
  display: block;
  height: 56px;
  width: 56px;
  border: 2px solid rgba(31, 218, 181, 0.2);
  box-shadow: 0 0 0 4px rgba(31, 218, 181, 0.2);
  margin-left: 35px;
}

.reviews__item-img.active:first-of-type {
  margin-left: 0;
}
